.dynamicSearch {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  overflow: visible;
  min-width: 0;
}
.dynamicSearch > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-uWzdO6SbLhSU_v));
  height: calc(100% + var(--token-uWzdO6SbLhSU_v));
}
.dynamicSearch > :global(.__wab_flex-container) > *,
.dynamicSearch > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dynamicSearch > :global(.__wab_flex-container) > picture > img,
.dynamicSearch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-uWzdO6SbLhSU_v);
}
.dynamicSearch:focus-within {
  width: 100%;
  display: flex;
  background: none;
  height: auto;
  min-width: 0;
  outline: none;
}
.dynamicSearch:focus-within > :global(.__wab_flex-container) {
  min-width: 0;
}
.freeBox__ziRt5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  overflow: visible;
  min-width: 0;
}
.freeBox__ziRt5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-Id9x7t3Vbv60Ub));
  width: calc(100% + var(--token-Id9x7t3Vbv60Ub));
}
.freeBox__ziRt5 > :global(.__wab_flex-container) > *,
.freeBox__ziRt5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ziRt5 > :global(.__wab_flex-container) > picture > img,
.freeBox__ziRt5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Id9x7t3Vbv60Ub);
}
.dynamicSearch:focus-within .freeBox__ziRt5 {
  position: relative;
  left: auto;
  right: auto;
  display: flex;
  flex-direction: column;
  outline: none;
}
.dynamicSearch:focus-within .freeBox__ziRt5 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-Id9x7t3Vbv60Ub));
  height: calc(100% + var(--token-Id9x7t3Vbv60Ub));
}
.dynamicSearch:focus-within
  .freeBox__ziRt5
  > :global(.__wab_flex-container)
  > *,
.dynamicSearch:focus-within
  .freeBox__ziRt5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.dynamicSearch:focus-within
  .freeBox__ziRt5
  > :global(.__wab_flex-container)
  > picture
  > img,
.dynamicSearch:focus-within
  .freeBox__ziRt5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-Id9x7t3Vbv60Ub);
}
.searchInput__grCyo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 512px) {
  .searchInput__grCyo:global(.__wab_instance) {
    max-width: 94%;
  }
}
.dynamicSearch:focus-within .searchInput__grCyo:global(.__wab_instance) {
  outline: none;
}
.inputText {
  font-size: var(--token-3SGxupAzd59CMg);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-width: 0px;
}
.dynamicSearch:focus-within .inputText {
  outline: none;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.dynamicSearch:focus-within .button:global(.__wab_instance) {
  display: flex;
  outline: none;
}
.svg__pw13Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xJsRt {
  color: var(--token-tU12IsG8Jar6Id);
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-tU12IsG8Jar6Id);
}
.campaignDisplay {
  flex-direction: column;
  display: flex;
  position: relative;
  align-self: center;
  width: 100%;
  overflow: visible;
  min-width: 0;
}
.campaignDisplay > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-uWzdO6SbLhSU_v));
  height: calc(100% + var(--token-uWzdO6SbLhSU_v));
}
.campaignDisplay > :global(.__wab_flex-container) > *,
.campaignDisplay > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.campaignDisplay > :global(.__wab_flex-container) > picture > img,
.campaignDisplay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-uWzdO6SbLhSU_v);
}
.dynamicSearch:focus-within .campaignDisplay {
  outline: none;
}
.tabSelector {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
  min-width: 0;
}
.tabSelector > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Id9x7t3Vbv60Ub));
  width: calc(100% + var(--token-Id9x7t3Vbv60Ub));
}
.tabSelector > :global(.__wab_flex-container) > *,
.tabSelector > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabSelector > :global(.__wab_flex-container) > picture > img,
.tabSelector
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Id9x7t3Vbv60Ub);
}
.tabItem__rztnA:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.startIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-VkgI8yxQPODOLH);
}
.text__kviyd {
  color: var(--token-VkgI8yxQPODOLH);
  width: auto;
}
.svg__r5Ez9 {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.tabItem__sEd2E:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.startIcon2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.endIcon2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.tabItem__roBsx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.startIcon3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.endIcon3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.tabItem__zFmyG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.startIcon4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.endIcon4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.campaignGallery {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-Id9x7t3Vbv60Ub);
  grid-column-gap: var(--token-Id9x7t3Vbv60Ub);
  min-width: 0;
}
@media (min-width: 1024px) {
  .campaignGallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.campaignCard__t073P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 1024px) {
  .campaignCard__t073P:global(.__wab_instance) {
    display: flex;
  }
}
.svg__a0Rmp {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.text___6H1JY {
  height: auto;
}
.svg__cSqKk {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.campaignCard__ylhOp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 1024px) {
  .campaignCard__ylhOp:global(.__wab_instance) {
    display: flex;
  }
}
.text___0FNYg {
  height: auto;
}
.svg__zqWpz {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.text___87Jfm {
  height: auto;
}
.svg___79FfZ {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.campaignCard__rgD7K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nlILt {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.text__tmaJ0 {
  height: auto;
}
.svg__eIrOx {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.campaignColumn {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.campaignColumn > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-XqTvnabdiqSxZa));
  width: calc(100% + var(--token-XqTvnabdiqSxZa));
}
.campaignColumn > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--token-XqTvnabdiqSxZa)) * 4 / 12);
}
.campaignColumn > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--token-XqTvnabdiqSxZa)) * 4 / 12);
}
.campaignColumn > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--token-XqTvnabdiqSxZa)) * 4 / 12);
}
.campaignColumn > :global(.__wab_flex-container) > *,
.campaignColumn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.campaignColumn > :global(.__wab_flex-container) > picture > img,
.campaignColumn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-XqTvnabdiqSxZa);
}
.column__jjsuu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.campaignCard__vv9X7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
}
.startIcon5 {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.text___9CB6 {
  height: auto;
}
.endIcon5 {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.campaignCard__to1D3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
}
.text__sp4L {
  height: auto;
}
.startIcon6 {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.text__u3Q39 {
  height: auto;
}
.endIcon6 {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.campaignCard__gR3Mk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
}
.startIcon7 {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.text__k5FTz {
  height: auto;
}
.endIcon7 {
  position: relative;
  object-fit: cover;
  width: var(--token-Id9x7t3Vbv60Ub);
  height: var(--token-Id9x7t3Vbv60Ub);
}
.column__b4CAp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__uIo4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.slideBullet:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  display: flex;
}
.searchDropdown:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.dynamicSearch:focus-within .searchDropdown:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  margin-bottom: var(--token-FdexvU6kH4ZsTT);
  width: 100%;
  min-width: 0;
  display: flex;
  outline: none;
}
