.campaignSelector {
  box-shadow: 0px 1px 3px 0px var(--token-x0mpXkouNCU4H3);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  display: inline-flex;
  flex-direction: column;
  background: #ffffff;
  width: auto;
  height: auto;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 16px;
  border: 1px solid var(--token-x0mpXkouNCU4H3);
}
.campaignSelector:hover {
  box-shadow: 0px 4px 8px 4px var(--token-x0mpXkouNCU4H3);
}
.campaignCta {
  flex-direction: column;
  display: flex;
  position: relative;
  height: auto;
  width: auto;
  padding: var(--token-XqTvnabdiqSxZa);
}
.campaignCta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(0px - var(--token-Id9x7t3Vbv60Ub));
  height: calc(100% + var(--token-Id9x7t3Vbv60Ub));
}
.campaignCta > :global(.__wab_flex-container) > *,
.campaignCta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.campaignCta > :global(.__wab_flex-container) > picture > img,
.campaignCta
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Id9x7t3Vbv60Ub);
}
@media (min-width: 512px) {
  .campaignCta {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 512px) {
  .campaignCta > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 512px) {
  .campaignCta > :global(.__wab_flex-container) > *,
  .campaignCta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .campaignCta > :global(.__wab_flex-container) > picture > img,
  .campaignCta
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.campaignLogo:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-right: 0;
  width: auto;
}
.button:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 512px) {
  .button:global(.__wab_instance) {
    width: auto;
  }
}
.svg__k0Yfq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tsQiR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.separator:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: block;
}
.campaignSelector:hover .separator:global(.__wab_instance) {
  flex-shrink: 0;
  display: block;
}
.campaignBenefits {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  padding: var(--token-XqTvnabdiqSxZa);
}
.campaignBenefits > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - var(--token-Id9x7t3Vbv60Ub));
  height: calc(100% + var(--token-Id9x7t3Vbv60Ub));
}
.campaignBenefits > :global(.__wab_flex-container) > *,
.campaignBenefits > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.campaignBenefits > :global(.__wab_flex-container) > picture > img,
.campaignBenefits
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Id9x7t3Vbv60Ub);
}
.freeBox {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-Id9x7t3Vbv60Ub));
  height: calc(100% + var(--token-Id9x7t3Vbv60Ub));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-Id9x7t3Vbv60Ub);
}
.cmsDataLoader__hTFmn {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 100%;
  position: relative;
}
.cmsDataLoader__hTFmn > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-Id9x7t3Vbv60Ub));
  height: calc(100% + var(--token-Id9x7t3Vbv60Ub));
}
.cmsDataLoader__hTFmn > :global(.__wab_flex-container) > *,
.cmsDataLoader__hTFmn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cmsDataLoader__hTFmn > :global(.__wab_flex-container) > picture > img,
.cmsDataLoader__hTFmn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-Id9x7t3Vbv60Ub);
}
.benefitsItem___5I3C3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.cmsEntryField__awDE:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__fi0YN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gWa8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
