.bullet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  max-width: 100%;
  position: relative;
  border-radius: 50%;
  border: 2px solid var(--token-EgScYVgklZpnfp);
}
.bulletativo {
  background: var(--token-tU12IsG8Jar6Id);
  border-color: var(--token-tU12IsG8Jar6Id);
}
.bullet:hover:active {
  background: var(--token-tU12IsG8Jar6Id);
  border-color: var(--token-tU12IsG8Jar6Id);
}
