@import url("https://fonts.googleapis.com/css2?family=PT+Sans%3Aital%2Cwght%400%2C400%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-KnoZTdh11oFSOq: 100vh;
  --plasmic-token-apoiase-vh-100: var(--token-KnoZTdh11oFSOq);
  --token-Q9TTQ86rJlPhda: 50vh;
  --plasmic-token-apoiase-vh-50: var(--token-Q9TTQ86rJlPhda);
  --token-Yrrmdp9AioAhQ0: 100%;
  --plasmic-token-apoiase-width-100: var(--token-Yrrmdp9AioAhQ0);
  --token--n14kFavWwLVHe: #ffffff;
  --plasmic-token-apoiase-color-white: var(--token--n14kFavWwLVHe);
  --token-tU12IsG8Jar6Id: #db2328;
  --plasmic-token-apoiase-color-primary: var(--token-tU12IsG8Jar6Id);
  --token-u2ailOHvBBa3RU: #fdf2f2;
  --plasmic-token-apoiase-color-secondary: var(--token-u2ailOHvBBa3RU);
  --token-CA5Tw9V5vKw9tV: #1c8035;
  --plasmic-token-apoiase-color-dark-green: var(--token-CA5Tw9V5vKw9tV);
  --token-7tl9N5pHHbOlmi: #3d4749;
  --plasmic-token-apoiase-color-gray: var(--token-7tl9N5pHHbOlmi);
  --token-WfiDmWUTroARvd: PT Sans;
  --plasmic-token-apoiase-font: var(--token-WfiDmWUTroARvd);
  --token-EDS21UHIx0tVbx: 64px;
  --plasmic-token-apoiase-font-xl: var(--token-EDS21UHIx0tVbx);
  --token-4AXqt7kR1QhgG6: 1;
  --plasmic-token-apoiase-opacity-100: var(--token-4AXqt7kR1QhgG6);
  --token-iyHlpsj3MJ5XA-: 0.9;
  --plasmic-token-apoiase-opacity-90: var(--token-iyHlpsj3MJ5XA-);
  --token-XvdyzvvWIlVJhq: 0.5;
  --plasmic-token-apoiase-opacity-50: var(--token-XvdyzvvWIlVJhq);
  --token-YIQO490vS9RbPh: 48px;
  --plasmic-token-apoiase-font-lg: var(--token-YIQO490vS9RbPh);
  --token-fCt4h_uIxnOmuH: 32px;
  --plasmic-token-apoiase-font-md: var(--token-fCt4h_uIxnOmuH);
  --token--34Xt4D7mAT2Fp: 24px;
  --plasmic-token-apoiase-font-sm: var(--token--34Xt4D7mAT2Fp);
  --token-3SGxupAzd59CMg: 18px;
  --plasmic-token-apoiase-font-xs: var(--token-3SGxupAzd59CMg);
  --token-VE6l9x6T7crJry: 1080px;
  --plasmic-token-apoiase-maxwidth-container: var(--token-VE6l9x6T7crJry);
  --token-FdexvU6kH4ZsTT: 128px;
  --plasmic-token-apoiase-space-biglarge: var(--token-FdexvU6kH4ZsTT);
  --token-RRxr5PVcKOyu8E: 80px;
  --plasmic-token-apoiase-space-xxxlg: var(--token-RRxr5PVcKOyu8E);
  --token-diBDiv0Q7NCpsw: 64px;
  --plasmic-token-apoiase-space-xxlg: var(--token-diBDiv0Q7NCpsw);
  --token-__qGz11CoSSMLX: 56px;
  --plasmic-token-apoiase-space-xlg: var(--token-__qGz11CoSSMLX);
  --token-W-6SH9_akvPZJj: 48px;
  --plasmic-token-apoiase-space-lg: var(--token-W-6SH9_akvPZJj);
  --token-uWzdO6SbLhSU_v: 40px;
  --plasmic-token-apoiase-space-md: var(--token-uWzdO6SbLhSU_v);
  --token-XqTvnabdiqSxZa: 32px;
  --plasmic-token-apoiase-space-xmd: var(--token-XqTvnabdiqSxZa);
  --token-x0mpXkouNCU4H3: #0000001a;
  --plasmic-token-apoiase-opacity-black-10: var(--token-x0mpXkouNCU4H3);
  --token-Id9x7t3Vbv60Ub: 24px;
  --plasmic-token-apoiase-space-sm: var(--token-Id9x7t3Vbv60Ub);
  --token-H-oPC3puOZIUJM: 16px;
  --plasmic-token-apoiase-space-xsm: var(--token-H-oPC3puOZIUJM);
  --token-e3xuC0EpX8WnMt: 8px;
  --plasmic-token-apoiase-space-xxsm: var(--token-e3xuC0EpX8WnMt);
  --token-nfTL8qQEECSeuF: #00000080;
  --plasmic-token-apoiase-color-black-50: var(--token-nfTL8qQEECSeuF);
  --token-QPNYKLyy6PBfbK: #00000066;
  --plasmic-token-apoiase-color-black-40: var(--token-QPNYKLyy6PBfbK);
  --token-YdsO-s46Wf75eK: 16px;
  --plasmic-token-apoiase-font-xsm: var(--token-YdsO-s46Wf75eK);
  --token-Zjh9_Itt-Vp-Gn: 1.5;
  --plasmic-token-apoiase-font-lh-150: var(--token-Zjh9_Itt-Vp-Gn);
  --token-aNY-CzaxuOolNs: 1.2;
  --plasmic-token-apoiase-font-lh-120: var(--token-aNY-CzaxuOolNs);
  --token-iUEt10kbC_tdHO: 1.1;
  --plasmic-token-apoiase-font-lh-110: var(--token-iUEt10kbC_tdHO);
  --token-VMa06l1mmaMm4O: #5a4e48;
  --plasmic-token-apoiase-color-dark-red-grey: var(--token-VMa06l1mmaMm4O);
  --token-EgScYVgklZpnfp: var(--token-x0mpXkouNCU4H3);
  --plasmic-token-apoiase-color-black-25: var(--token-EgScYVgklZpnfp);
  --token-DK1oK8EzktUnWN: #3fa890;
  --plasmic-token-apoiase-color-green: var(--token-DK1oK8EzktUnWN);
  --token-6IH17vFUkxnpSK: #ffffffb3;
  --plasmic-token-apoiase-color-white-70: var(--token-6IH17vFUkxnpSK);
  --token-x1HE2e6QgGi2IT: #c8352b;
  --plasmic-token-apoiase-color-primary-variant: var(--token-x1HE2e6QgGi2IT);
  --token-W-G0Ks2uckL1gS: 0;
  --plasmic-token-apoiase-opacity-0: var(--token-W-G0Ks2uckL1gS);
  --token-VkgI8yxQPODOLH: #f6a21c;
  --plasmic-token-apoiase-color-yellow: var(--token-VkgI8yxQPODOLH);
  --token-L9AyCJGDsQiEw0: #0000000d;
  --plasmic-token-apoiase-color-black-5: var(--token-L9AyCJGDsQiEw0);
  --token-RWv9ZuVxiJJ7Ul: 0;
  --plasmic-token-hidden-text: var(--token-RWv9ZuVxiJJ7Ul);
  --token-GIA4fxjo7Ekk1I: #3d474900;
  --plasmic-token-transparent: var(--token-GIA4fxjo7Ekk1I);
  --token-ht9_aqvN7_KJJ7: #fdf2f200;
  --plasmic-token-unnamed-style-token: var(--token-ht9_aqvN7_KJJ7);
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_primary_unnamedVariant),
.plasmic_default_styles:where(.global_primary_hover),
.plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants2_unnamedVariant),
.plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants2_unnamedVariant2) {
  --mixin-DcNSdYZpn3ZWMy_font-family: var(--token-WfiDmWUTroARvd);
  --mixin-DcNSdYZpn3ZWMy_font-size: var(--token-YdsO-s46Wf75eK);
  --mixin-DcNSdYZpn3ZWMy_font-weight: 400;
  --mixin-DcNSdYZpn3ZWMy_font-style: normal;
  --mixin-DcNSdYZpn3ZWMy_color: var(--token-7tl9N5pHHbOlmi);
  --mixin-DcNSdYZpn3ZWMy_text-align: left;
  --mixin-DcNSdYZpn3ZWMy_text-transform: none;
  --mixin-DcNSdYZpn3ZWMy_line-height: var(--token-Zjh9_Itt-Vp-Gn);
  --mixin-DcNSdYZpn3ZWMy_white-space: pre-wrap;
  --mixin-DcNSdYZpn3ZWMy_user-select: text;
  --mixin-DcNSdYZpn3ZWMy_text-decoration-line: none;
  --mixin-DcNSdYZpn3ZWMy_text-overflow: clip;
  --mixin-dpQozQx-m_Mk9T_color: var(--token-7tl9N5pHHbOlmi);
  --mixin-dpQozQx-m_Mk9T_font-weight: 700;
  --mixin-dpQozQx-m_Mk9T_font-size: var(--token-EDS21UHIx0tVbx);
  --mixin-dpQozQx-m_Mk9T_line-height: 1;
  --mixin-dpQozQx-m_Mk9T_letter-spacing: -2px;
  --mixin-dpQozQx-m_Mk9T_font-family: var(--token-WfiDmWUTroARvd);
  --mixin-LF9ey6jQFaHHIK_color: var(--token-7tl9N5pHHbOlmi);
  --mixin-LF9ey6jQFaHHIK_font-size: var(--token-YIQO490vS9RbPh);
  --mixin-LF9ey6jQFaHHIK_font-weight: 700;
  --mixin-LF9ey6jQFaHHIK_letter-spacing: -1px;
  --mixin-LF9ey6jQFaHHIK_line-height: var(--token-iUEt10kbC_tdHO);
  --mixin-LF9ey6jQFaHHIK_font-family: var(--token-WfiDmWUTroARvd);
  --mixin-rSc7eOStwaxTl7_color: #0070f3;
  --mixin-s5Za_xZa3faEsV_color: var(--token-7tl9N5pHHbOlmi);
  --mixin-s5Za_xZa3faEsV_font-size: var(--token-fCt4h_uIxnOmuH);
  --mixin-s5Za_xZa3faEsV_font-weight: 600;
  --mixin-s5Za_xZa3faEsV_letter-spacing: -0.5px;
  --mixin-s5Za_xZa3faEsV_line-height: var(--token-iUEt10kbC_tdHO);
  --mixin-s5Za_xZa3faEsV_font-family: var(--token-WfiDmWUTroARvd);
  --mixin-1O3JD0PqI2BC7D_color: var(--token-7tl9N5pHHbOlmi);
  --mixin-1O3JD0PqI2BC7D_font-size: var(--token--34Xt4D7mAT2Fp);
  --mixin-1O3JD0PqI2BC7D_font-weight: 600;
  --mixin-1O3JD0PqI2BC7D_letter-spacing: -0.25px;
  --mixin-1O3JD0PqI2BC7D_line-height: var(--token-iUEt10kbC_tdHO);
  --mixin-1O3JD0PqI2BC7D_font-family: var(--token-WfiDmWUTroARvd);
  --mixin-eJM3W3zL5qS-k8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eJM3W3zL5qS-k8_border-bottom-color: #dddddd;
  --mixin-eJM3W3zL5qS-k8_border-bottom-style: solid;
  --mixin-eJM3W3zL5qS-k8_border-bottom-width: 1px;
  --mixin-eJM3W3zL5qS-k8_border-left-color: #dddddd;
  --mixin-eJM3W3zL5qS-k8_border-left-style: solid;
  --mixin-eJM3W3zL5qS-k8_border-left-width: 1px;
  --mixin-eJM3W3zL5qS-k8_border-right-color: #dddddd;
  --mixin-eJM3W3zL5qS-k8_border-right-style: solid;
  --mixin-eJM3W3zL5qS-k8_border-right-width: 1px;
  --mixin-eJM3W3zL5qS-k8_border-top-color: #dddddd;
  --mixin-eJM3W3zL5qS-k8_border-top-style: solid;
  --mixin-eJM3W3zL5qS-k8_border-top-width: 1px;
  --mixin-eJM3W3zL5qS-k8_border-bottom-left-radius: 3px;
  --mixin-eJM3W3zL5qS-k8_border-bottom-right-radius: 3px;
  --mixin-eJM3W3zL5qS-k8_border-top-left-radius: 3px;
  --mixin-eJM3W3zL5qS-k8_border-top-right-radius: 3px;
  --mixin-eJM3W3zL5qS-k8_font-family: "Inconsolata";
  --mixin-eJM3W3zL5qS-k8_padding-bottom: 1px;
  --mixin-eJM3W3zL5qS-k8_padding-left: 4px;
  --mixin-eJM3W3zL5qS-k8_padding-right: 4px;
  --mixin-eJM3W3zL5qS-k8_padding-top: 1px;
  --mixin-dE4lBF-WHPemw5_border-left-color: #dddddd;
  --mixin-dE4lBF-WHPemw5_border-left-style: solid;
  --mixin-dE4lBF-WHPemw5_border-left-width: 3px;
  --mixin-dE4lBF-WHPemw5_color: #888888;
  --mixin-dE4lBF-WHPemw5_padding-left: 10px;
  --mixin-zKnaUZaJ_S-9NW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zKnaUZaJ_S-9NW_border-bottom-color: #dddddd;
  --mixin-zKnaUZaJ_S-9NW_border-bottom-style: solid;
  --mixin-zKnaUZaJ_S-9NW_border-bottom-width: 1px;
  --mixin-zKnaUZaJ_S-9NW_border-left-color: #dddddd;
  --mixin-zKnaUZaJ_S-9NW_border-left-style: solid;
  --mixin-zKnaUZaJ_S-9NW_border-left-width: 1px;
  --mixin-zKnaUZaJ_S-9NW_border-right-color: #dddddd;
  --mixin-zKnaUZaJ_S-9NW_border-right-style: solid;
  --mixin-zKnaUZaJ_S-9NW_border-right-width: 1px;
  --mixin-zKnaUZaJ_S-9NW_border-top-color: #dddddd;
  --mixin-zKnaUZaJ_S-9NW_border-top-style: solid;
  --mixin-zKnaUZaJ_S-9NW_border-top-width: 1px;
  --mixin-zKnaUZaJ_S-9NW_border-bottom-left-radius: 3px;
  --mixin-zKnaUZaJ_S-9NW_border-bottom-right-radius: 3px;
  --mixin-zKnaUZaJ_S-9NW_border-top-left-radius: 3px;
  --mixin-zKnaUZaJ_S-9NW_border-top-right-radius: 3px;
  --mixin-zKnaUZaJ_S-9NW_font-family: "Inconsolata";
  --mixin-zKnaUZaJ_S-9NW_padding-bottom: 3px;
  --mixin-zKnaUZaJ_S-9NW_padding-left: 6px;
  --mixin-zKnaUZaJ_S-9NW_padding-right: 6px;
  --mixin-zKnaUZaJ_S-9NW_padding-top: 3px;
  --mixin-U3jhEZ7uojfxp-_display: flex;
  --mixin-U3jhEZ7uojfxp-_flex-direction: column;
  --mixin-U3jhEZ7uojfxp-_align-items: stretch;
  --mixin-U3jhEZ7uojfxp-_justify-content: flex-start;
  --mixin-U3jhEZ7uojfxp-_list-style-position: outside;
  --mixin-U3jhEZ7uojfxp-_padding-left: 40px;
  --mixin-U3jhEZ7uojfxp-_position: relative;
  --mixin-U3jhEZ7uojfxp-_list-style-type: disc;
  --mixin-ASmtrG7px_tIlA_display: flex;
  --mixin-ASmtrG7px_tIlA_flex-direction: column;
  --mixin-ASmtrG7px_tIlA_align-items: stretch;
  --mixin-ASmtrG7px_tIlA_justify-content: flex-start;
  --mixin-ASmtrG7px_tIlA_list-style-position: outside;
  --mixin-ASmtrG7px_tIlA_padding-left: 40px;
  --mixin-ASmtrG7px_tIlA_position: relative;
  --mixin-ASmtrG7px_tIlA_list-style-type: decimal;
  --mixin-gEjSHwRbZ8tybH_color: var(--token-7tl9N5pHHbOlmi);
  --mixin-gEjSHwRbZ8tybH_font-size: var(--token-3SGxupAzd59CMg);
  --mixin-gEjSHwRbZ8tybH_font-weight: 600;
  --mixin-gEjSHwRbZ8tybH_letter-spacing: -0.25px;
  --mixin-gEjSHwRbZ8tybH_line-height: var(--token-Zjh9_Itt-Vp-Gn);
  --mixin-gEjSHwRbZ8tybH_font-family: var(--token-WfiDmWUTroARvd);
  --mixin-kdDGre7jqT6dcb_color: var(--token-7tl9N5pHHbOlmi);
  --mixin-kdDGre7jqT6dcb_font-size: var(--token-YdsO-s46Wf75eK);
  --mixin-kdDGre7jqT6dcb_font-weight: 600;
  --mixin-kdDGre7jqT6dcb_line-height: var(--token-iUEt10kbC_tdHO);
  --mixin-kdDGre7jqT6dcb_font-family: var(--token-WfiDmWUTroARvd);
  --mixin-B811DVaxzg69xq_color: #3291ff;
  --mixin-oRDVD73TrzOiyH_color: var(--token-7tl9N5pHHbOlmi);
  --mixin-oRDVD73TrzOiyH_font-size: var(--token-YdsO-s46Wf75eK);
  --mixin-oRDVD73TrzOiyH_font-weight: 400;
  --mixin-oRDVD73TrzOiyH_font-family: var(--token-WfiDmWUTroARvd);
  --mixin-oRDVD73TrzOiyH_letter-spacing: -0.5px;
  --mixin-oRDVD73TrzOiyH_line-height: var(--token-Zjh9_Itt-Vp-Gn);
}

@media (min-width: 0px) and (max-width: 480px) {
  .plasmic_default_styles,
  .plasmic_default_styles:where(.global_primary_unnamedVariant),
  .plasmic_default_styles:where(.global_primary_hover),
  .plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants2_unnamedVariant),
  .plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants2_unnamedVariant2) {
    --mixin-dpQozQx-m_Mk9T_font-size: var(--token-YIQO490vS9RbPh);
    --mixin-dpQozQx-m_Mk9T_letter-spacing: -2px;
    --mixin-rSc7eOStwaxTl7_color: var(--token-tU12IsG8Jar6Id);
    --mixin-rSc7eOStwaxTl7_font-size: var(--token-3SGxupAzd59CMg);
    --mixin-rSc7eOStwaxTl7_font-weight: 700;
  }
}

.plasmic_mixins,
.plasmic_mixins:where(.global_primary_unnamedVariant),
.plasmic_mixins:where(.global_primary_hover),
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants2_unnamedVariant),
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants2_unnamedVariant2) {
  --mixin-_x0vw1KJldPxQT_box-shadow: 0px 2px 10px 0px
    var(--token-x0mpXkouNCU4H3);
  --plasmic-mixin-apoiase-shadow-vertical_box-shadow: var(
    --mixin-_x0vw1KJldPxQT_box-shadow
  );
  --mixin-6Beulk38s4pqvr_box-shadow: 0px 1px 3px 0px var(--token-x0mpXkouNCU4H3);
  --plasmic-mixin-apoiase-shadow-first-level_box-shadow: var(
    --mixin-6Beulk38s4pqvr_box-shadow
  );
  --mixin-h1RuZmSdWY_1NS_box-shadow: 0px 4px 8px 4px var(--token-x0mpXkouNCU4H3);
  --plasmic-mixin-apoiase-shadow-second-level_box-shadow: var(
    --mixin-h1RuZmSdWY_1NS_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-DcNSdYZpn3ZWMy_font-family);
  font-size: var(--mixin-DcNSdYZpn3ZWMy_font-size);
  font-weight: var(--mixin-DcNSdYZpn3ZWMy_font-weight);
  font-style: var(--mixin-DcNSdYZpn3ZWMy_font-style);
  color: var(--mixin-DcNSdYZpn3ZWMy_color);
  text-align: var(--mixin-DcNSdYZpn3ZWMy_text-align);
  text-transform: var(--mixin-DcNSdYZpn3ZWMy_text-transform);
  line-height: var(--mixin-DcNSdYZpn3ZWMy_line-height);
  white-space: var(--mixin-DcNSdYZpn3ZWMy_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-dpQozQx-m_Mk9T_color);
  font-weight: var(--mixin-dpQozQx-m_Mk9T_font-weight);
  font-size: var(--mixin-dpQozQx-m_Mk9T_font-size);
  line-height: var(--mixin-dpQozQx-m_Mk9T_line-height);
  letter-spacing: var(--mixin-dpQozQx-m_Mk9T_letter-spacing);
  font-family: var(--mixin-dpQozQx-m_Mk9T_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_text h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-LF9ey6jQFaHHIK_color);
  font-size: var(--mixin-LF9ey6jQFaHHIK_font-size);
  font-weight: var(--mixin-LF9ey6jQFaHHIK_font-weight);
  letter-spacing: var(--mixin-LF9ey6jQFaHHIK_letter-spacing);
  line-height: var(--mixin-LF9ey6jQFaHHIK_line-height);
  font-family: var(--mixin-LF9ey6jQFaHHIK_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-rSc7eOStwaxTl7_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_text h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-s5Za_xZa3faEsV_color);
  font-size: var(--mixin-s5Za_xZa3faEsV_font-size);
  font-weight: var(--mixin-s5Za_xZa3faEsV_font-weight);
  letter-spacing: var(--mixin-s5Za_xZa3faEsV_letter-spacing);
  line-height: var(--mixin-s5Za_xZa3faEsV_line-height);
  font-family: var(--mixin-s5Za_xZa3faEsV_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_text h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-1O3JD0PqI2BC7D_color);
  font-size: var(--mixin-1O3JD0PqI2BC7D_font-size);
  font-weight: var(--mixin-1O3JD0PqI2BC7D_font-weight);
  letter-spacing: var(--mixin-1O3JD0PqI2BC7D_letter-spacing);
  line-height: var(--mixin-1O3JD0PqI2BC7D_line-height);
  font-family: var(--mixin-1O3JD0PqI2BC7D_font-family);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-eJM3W3zL5qS-k8_background);
  font-family: var(--mixin-eJM3W3zL5qS-k8_font-family);
  border-radius: var(--mixin-eJM3W3zL5qS-k8_border-top-left-radius)
    var(--mixin-eJM3W3zL5qS-k8_border-top-right-radius)
    var(--mixin-eJM3W3zL5qS-k8_border-bottom-right-radius)
    var(--mixin-eJM3W3zL5qS-k8_border-bottom-left-radius);
  padding: var(--mixin-eJM3W3zL5qS-k8_padding-top)
    var(--mixin-eJM3W3zL5qS-k8_padding-right)
    var(--mixin-eJM3W3zL5qS-k8_padding-bottom)
    var(--mixin-eJM3W3zL5qS-k8_padding-left);
  border-top: var(--mixin-eJM3W3zL5qS-k8_border-top-width)
    var(--mixin-eJM3W3zL5qS-k8_border-top-style)
    var(--mixin-eJM3W3zL5qS-k8_border-top-color);
  border-right: var(--mixin-eJM3W3zL5qS-k8_border-right-width)
    var(--mixin-eJM3W3zL5qS-k8_border-right-style)
    var(--mixin-eJM3W3zL5qS-k8_border-right-color);
  border-bottom: var(--mixin-eJM3W3zL5qS-k8_border-bottom-width)
    var(--mixin-eJM3W3zL5qS-k8_border-bottom-style)
    var(--mixin-eJM3W3zL5qS-k8_border-bottom-color);
  border-left: var(--mixin-eJM3W3zL5qS-k8_border-left-width)
    var(--mixin-eJM3W3zL5qS-k8_border-left-style)
    var(--mixin-eJM3W3zL5qS-k8_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-dE4lBF-WHPemw5_color);
  padding-left: var(--mixin-dE4lBF-WHPemw5_padding-left);
  border-left: var(--mixin-dE4lBF-WHPemw5_border-left-width)
    var(--mixin-dE4lBF-WHPemw5_border-left-style)
    var(--mixin-dE4lBF-WHPemw5_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-zKnaUZaJ_S-9NW_background);
  font-family: var(--mixin-zKnaUZaJ_S-9NW_font-family);
  border-radius: var(--mixin-zKnaUZaJ_S-9NW_border-top-left-radius)
    var(--mixin-zKnaUZaJ_S-9NW_border-top-right-radius)
    var(--mixin-zKnaUZaJ_S-9NW_border-bottom-right-radius)
    var(--mixin-zKnaUZaJ_S-9NW_border-bottom-left-radius);
  padding: var(--mixin-zKnaUZaJ_S-9NW_padding-top)
    var(--mixin-zKnaUZaJ_S-9NW_padding-right)
    var(--mixin-zKnaUZaJ_S-9NW_padding-bottom)
    var(--mixin-zKnaUZaJ_S-9NW_padding-left);
  border-top: var(--mixin-zKnaUZaJ_S-9NW_border-top-width)
    var(--mixin-zKnaUZaJ_S-9NW_border-top-style)
    var(--mixin-zKnaUZaJ_S-9NW_border-top-color);
  border-right: var(--mixin-zKnaUZaJ_S-9NW_border-right-width)
    var(--mixin-zKnaUZaJ_S-9NW_border-right-style)
    var(--mixin-zKnaUZaJ_S-9NW_border-right-color);
  border-bottom: var(--mixin-zKnaUZaJ_S-9NW_border-bottom-width)
    var(--mixin-zKnaUZaJ_S-9NW_border-bottom-style)
    var(--mixin-zKnaUZaJ_S-9NW_border-bottom-color);
  border-left: var(--mixin-zKnaUZaJ_S-9NW_border-left-width)
    var(--mixin-zKnaUZaJ_S-9NW_border-left-style)
    var(--mixin-zKnaUZaJ_S-9NW_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-U3jhEZ7uojfxp-_display);
  flex-direction: var(--mixin-U3jhEZ7uojfxp-_flex-direction);
  align-items: var(--mixin-U3jhEZ7uojfxp-_align-items);
  justify-content: var(--mixin-U3jhEZ7uojfxp-_justify-content);
  list-style-position: var(--mixin-U3jhEZ7uojfxp-_list-style-position);
  padding-left: var(--mixin-U3jhEZ7uojfxp-_padding-left);
  position: var(--mixin-U3jhEZ7uojfxp-_position);
  list-style-type: var(--mixin-U3jhEZ7uojfxp-_list-style-type);
  flex-column-gap: var(--mixin-U3jhEZ7uojfxp-_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-ASmtrG7px_tIlA_display);
  flex-direction: var(--mixin-ASmtrG7px_tIlA_flex-direction);
  align-items: var(--mixin-ASmtrG7px_tIlA_align-items);
  justify-content: var(--mixin-ASmtrG7px_tIlA_justify-content);
  list-style-position: var(--mixin-ASmtrG7px_tIlA_list-style-position);
  padding-left: var(--mixin-ASmtrG7px_tIlA_padding-left);
  position: var(--mixin-ASmtrG7px_tIlA_position);
  list-style-type: var(--mixin-ASmtrG7px_tIlA_list-style-type);
  flex-column-gap: var(--mixin-ASmtrG7px_tIlA_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_text h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-gEjSHwRbZ8tybH_color);
  font-size: var(--mixin-gEjSHwRbZ8tybH_font-size);
  font-weight: var(--mixin-gEjSHwRbZ8tybH_font-weight);
  letter-spacing: var(--mixin-gEjSHwRbZ8tybH_letter-spacing);
  line-height: var(--mixin-gEjSHwRbZ8tybH_line-height);
  font-family: var(--mixin-gEjSHwRbZ8tybH_font-family);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_text h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-kdDGre7jqT6dcb_color);
  font-size: var(--mixin-kdDGre7jqT6dcb_font-size);
  font-weight: var(--mixin-kdDGre7jqT6dcb_font-weight);
  line-height: var(--mixin-kdDGre7jqT6dcb_line-height);
  font-family: var(--mixin-kdDGre7jqT6dcb_font-family);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-B811DVaxzg69xq_color);
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset .__wab_text p),
:where(.root_reset.plasmic_default__p) {
  color: var(--mixin-oRDVD73TrzOiyH_color);
  font-size: var(--mixin-oRDVD73TrzOiyH_font-size);
  font-weight: var(--mixin-oRDVD73TrzOiyH_font-weight);
  font-family: var(--mixin-oRDVD73TrzOiyH_font-family);
  letter-spacing: var(--mixin-oRDVD73TrzOiyH_letter-spacing);
  line-height: var(--mixin-oRDVD73TrzOiyH_line-height);
}
