.searchDropdown {
  flex-direction: column;
  display: flex;
  background: none;
  box-shadow: none;
  position: relative;
  overflow: visible;
  border-radius: 6px;
}
.searchDropdown > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-Id9x7t3Vbv60Ub));
  height: calc(100% + var(--token-Id9x7t3Vbv60Ub));
}
.searchDropdown > :global(.__wab_flex-container) > *,
.searchDropdown > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.searchDropdown > :global(.__wab_flex-container) > picture > img,
.searchDropdown
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Id9x7t3Vbv60Ub);
}
.campaignTitleCard___9R1It:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.campaignAvatar__a4JXo:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
}
.campaignTitleCard__fzP3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.campaignAvatar__juROh:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
}
.campaignTitleCard__f8Go:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.campaignAvatar__jpcQz:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
}
