.searchInput {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: var(--token-HKC4YXTVHgw);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  min-width: 0;
  border-radius: 6px;
  padding: var(--token-KQ-dKV9txCW);
  border: 1px solid var(--token-eAuyABiqxXq);
}
.searchInput > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-KQ-dKV9txCW));
  width: calc(100% + var(--token-KQ-dKV9txCW));
}
.searchInput > :global(.__wab_flex-container) > *,
.searchInput > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.searchInput > :global(.__wab_flex-container) > picture > img,
.searchInput
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KQ-dKV9txCW);
}
.searchInput:hover {
  box-shadow: 0px 2px 10px 0px var(--token-eAuyABiqxXq);
}
.searchInput:focus-within {
  box-shadow: 0px 2px 10px 0px var(--token-eAuyABiqxXq);
  outline: none;
  border-width: 2px;
  border-color: #db232840;
}
.inputIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-FWzGMPGhvPRw);
  width: var(--token--e785z_OTc7);
  height: var(--token--e785z_OTc7);
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.searchInput:focus-within .freeBox {
  outline: none;
}
.textInput___8W3Ch {
  font-size: var(--token-cbge5cLNsB5x);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-width: 0px;
}
